@import "styles/colors.scss";

.heroWrapper {
  width: 100%;

  position: relative;

  .heroContent {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }
  .leftContainer {
    width: 100%;
    // max-width: 1200px;
    padding-inline: 10vw;
    z-index: 12;

    @media screen and (max-width: 1500px) {
      padding-inline: 5rem;
    }

    h1 {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-family: Oswald;
      font-size: max(5vw, 1rem);
      font-weight: bold;
      line-height: 1.12;
      color: var(--light);
    }
    p {
      max-width: 600px;
      margin-block: 20px 50px;
      font-family: Roboto;
      font-size: 20px;
      color: var(--light);
    }

    .callToAction {
      display: flex;
      align-items: center;

      .primary {
        font-family: Oswald;
        font-size: 23px;
        color: var(--default-light);
        padding: 10px 2rem;
        margin-right: 2rem;
        border-radius: 10px;
        box-shadow: 0 10px 30px 0 rgba(40, 111, 172, 0.25);
        background-color: var(--blue-three);
        border: none;
        cursor: pointer;
      }

      .secondary {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto;
        font-size: 21px;
        padding: 10px 2rem;
        background: none;
        border-radius: 10px;
        // color: var(--blue-three);
        // border: solid 2px var(--blue-three);
        color: var(--default-light);
        border: solid 2px var(--default-light);
        cursor: pointer;

        svg {
          margin: 3px 0 0 7px;
          fill: var(--default-light);
          border: solid 2px var(--default-light);
          border-radius: 5px;
        }
      }
    }
  }
  .rightContainer {
    position: absolute;
    // width: 60%;
    width: 100%;
    height: 100%;
    // border-radius: 0 0 0 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to right,
        rgba($color: $dark, $alpha: 1) 0%,
        rgba($color: $dark, $alpha: 0.95) 10%,
        rgba($color: $dark, $alpha: 0.8) 50%,
        rgba($color: $dark, $alpha: 0.7) 80%,
        rgba($color: $dark, $alpha: 0.5) 100%
      );
      z-index: 10;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
    }
  }
}

.backgroundJlij {
  opacity: 0.5;
  position: absolute;
  inset: 0;

  z-index: -1;
  .jlijOne {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-60%, -20%);
    svg {
      height: 400px;
      width: 400px;
    }
  }
  .jlijTwo {
    position: absolute;
    top: 30%;
    left: -35%;
    transform: translate(50%, -20%);
    svg {
      height: 500px;
      width: 500px;
    }
  }
  svg {
    path {
      fill: none;
      stroke: var(--blue-six);
      stroke-miterlimit: 10;
      stroke-width: 12px;
    }
  }
  .jlijThree {
    position: absolute;
    top: 60%;
    left: 70%;
    transition: all 1s ease-in-out;
    transform: translate(-200%, 100%);
    svg {
      height: 150px;
      width: 150px;
    }
    path {
      fill: none;
      stroke: var(--blue-six);
      stroke-miterlimit: 10;
      stroke-width: 10px;
    }
  }
}
