.schoolPresentationWrapper {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 30px;
  height: 300px;
  margin: 50px 0;
  max-width: 1080px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-family: Oswald;
      font-size: 44px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--dark);
    }
    p {
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--blue-one);
    }
  }

  .schoolImageWrapper {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(2, 79, 180, 0.2);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
