.wordFromTheDirectorWrapper {
  width: 100%;
  h4 {
    margin-bottom: 50px;
    margin: 127px 619px 50px 2px;
    font-family: Oswald;
    font-size: 44px;
    font-weight: 600;
    color: var(--dark);
  }
  .directorCardWrapper {
    position: relative;
    --imageSize: 270px;
    width: 100%;
    // height: 340px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--light);

    display: grid;
    grid-template-columns: var(--imageSize) 1fr;
    align-items: center;
    .directorImageWrapper {
      // flex: 1;
      width: var(--imageSize);
      height: var(--imageSize);
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .infoWrapper {
      width: 100%;
      max-width: 600px;
      height: 100%;
      padding: 2rem 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .titles {
        h5 {
          font-family: Roboto;
          font-size: 22px;
          font-weight: bold;
          color: var(--light-blue);
        }
        h6 {
          font-family: Roboto;
          font-size: 18px;
          font-weight: 500;
          color: var(--blue-one);
        }
      }

      p {
        flex: 1;
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-size: 16px;
        text-align: left;
        color: var(--dark-one);
      }
      a {
        display: flex;
        align-items: center;

        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--light-blue);
        span {
          --iconSize: 16px;
          position: relative;
          width: var(--iconSize);
          height: var(--iconSize);
          margin-left: 8.2px;

          border: solid 2px var(--light-blue);
          border-radius: 5.5px;

          svg {
            width: var(--iconSize);
            height: var(--iconSize);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: var(--light-blue);
          }
        }
      }
    }

    .quoteIcon {
      // border: 2px solid red;
      position: absolute;
      top: 0;

      right: 30px;
      height: 100%;
      transform: translateY(130px);

      font-family: Oswald;
      font-size: 267px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.06;
      letter-spacing: normal;
      text-align: left;
      color: #f2f2f2;
    }
  }
}
