.navbarWrapper {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // background-color: var(--default-light);
  // background-color: var(--default-light-transparent);

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 100px;

  &:not(.showProperly) {
    color: var(--default-light) !important;
    .leftContainer {
      .hamburger {
        span {
          background-color: var(--default-light);
        }
      }
    }
  }

  &.showProperly {
    background-color: var(--default-light);
    box-shadow: 0 10px 40px 0 rgba(0, 137, 250, 0.103);
  }
  .leftContainer {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
      height: 40px;
    }

    .hamburger {
      width: 30px;
      cursor: pointer;
      span {
        display: block;
        width: 30px;
        height: 5px;
        margin: 5px 0;
        border-radius: 5px;
        background-color: var(--blue-three);
        transition: 0.3s;
      }

      &:hover span {
        &:nth-child(1) {
          width: 15px;
          transition: 0.3s;
        }
      }
    }
  }

  .navLinks {
    font-family: Roboto;
    font-weight: 500;
    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        &:hover {
          color: var(--blue-three);
          transition: 0.2s;
        }
        margin-right: 4rem;
      }
    }
  }

  .menuContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    background-color: var(--blue-three);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 100px;
    z-index: 1001;

    .closeMenu {
      cursor: pointer;
      position: relative;
      margin: 15px 0;
      height: 30px;

      &:hover span {
        background-color: rgb(22, 59, 116);
        transition: 0.3s;
      }
      span {
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        width: 30px;
        height: 5px;
        border-radius: 5px;
        background-color: var(--default-light);
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }

    .menuLinks {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      color: var(--default-light);

      h2 {
        text-transform: uppercase;
      }

      ul {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
      }

      a {
        color: var(--blue-seven);
        font-family: Roboto;
        margin: 0.5rem 0;

        &:hover {
          color: var(--default-light);
        }
      }
    }
  }
}
