.landingPageWrapper {
  width: 100%;
  // max-width: 1112px;

  display: flex;
  align-items: center;
  flex-direction: column;
  .sliderWrapper {
    width: 100%;
    max-width: 1080px;
  }
  // &::after,
  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 100vh;
  //   bottom: 0;
  //   background-repeat: repeat;
  //   background-position: initial;
  //   background-size: contain;
  //   z-index: 0;
  // }
  // &::before {
  //   background-image: url("/jlija1.png");
  //   left: 0;
  //   width: 60px;
  // }
  // &::after {
  //   background-image: url("/jlija2.png");
  //   right: 0;
  //   width: 60px;
  // }
}
