.container{
  padding-top: 120px;
  .titleWrapper{
    padding-block: 100px;
    width:100%;
    text-align:center;
    h1{
      font-family: Oswald;
      font-size: 77px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.12;
      letter-spacing: normal;
      text-align: center;
      color: #286fac;
    }
  }
}