$tag-orange: #ff8b4e;
$tag-blue: #279bff;

$light: white;
$default-light: #fffefe;

$blue: #266ac9;
$blue-one: #8ca1bc;
$blue-two: #d2eaff;
$blue-three: #1a61c4;
$blue-four: #c3ccd8;
$blue-five: #ced1d3;

$dark: #11182e;
$dark-one: #707e8f;
