.sideMenuWrapper {
  width: 370px;
  height: 100vh;
  background: var(--blue-three);
  transition: width 0.2s ease-out;
  position: relative;

  padding-inline: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .logoWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 170px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .navArrow {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;

    z-index: 10;

    cursor: pointer;
    transition: 0.5s;
    svg {
      fill: var(--default-light);
      width: 30px;
      height: 30px;
      transition: 0.3s;
    }

    &:hover {
      svg {
        fill: var(--blue-two);
      }
      transition: 0.3s;
    }
  }

  .dashboardNavigation {
    flex: 1;
    width: 100%;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: 40px;
        padding-inline: 10px;

        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        color: var(--default-light);

        border-radius: 5px;
        margin-bottom: 10px;

        span {
          margin-left: 10px;
          animation: opening 0.3s ease-in;
        }

        svg {
          fill: var(--default-light);
          transition: 0.2s;
          width: 25px;
          height: 25px;
        }
      }
      &:hover {
        a {
          background: var(--default-light);
          color: var(--blue-three);
          transition: 0.2s;
          svg {
            fill: var(--blue-three);
            transition: 0.2s;
          }
        }
      }
      &.active {
        a {
          background: var(--default-light);
          color: var(--blue-three);
          svg {
            fill: var(--blue-three);
          }
        }
      }
    }
  }

  .decoButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 40px;
    padding-inline: 10px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: var(--default-light);

    border-radius: 5px;
    margin-bottom: 60px;

    background: transparent;
    border: 0;

    span {
      margin-left: 10px;
      animation: opening 0.3s ease-in;
    }

    svg {
      fill: var(--default-light);
    }
  }
}

.closed {
  width: 80px;
  transition: 0.3s;

  .logoWrapper {
    opacity: 0;
    transition: 0.3s;
  }

  .decoButton {
    span {
      display: none;
      opacity: 0;
      transition: 0.3s;
    }
  }

  .dashboardNavigation {
    flex: 1;
    width: 100%;
    li {
      a {
        span {
          position: absolute;
          animation: closing 0.6s ease-in;
          opacity: 0;
          transform: translateX(-200%);
        }
      }
    }
  }
}

@keyframes opening {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes closing {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
