.sideMenuWrapper {
  width: 100%;
  height: 100vh;
  background: var(--blue-three);

  padding-inline: 15px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 170px;
    img {
      filter: brightness(10000%);
      width: 100%;
      object-fit: contain;
    }
  }

  .dashboardNavigation {
    flex: 1;
    width: 100%;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        height: 40px;
        padding-inline: 10px;

        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        color: var(--default-light);

        border-radius: 5px;
        margin-bottom: 10px;
        transition: 0.2s;
        svg {
          margin-right: 10px;
          fill: var(--default-light);
          transition: 0.2s;
        }

      }
      &:hover{
        a {
        background: var(--default-light);
        color: var(--blue-three);
        transition: 0.2s;
        svg {
          fill: var(--blue-three);
          transition: 0.2s;
        }
      }
      }
      &.active {
        a {
          background: var(--default-light);
          color: var(--blue-three);
          svg {
            fill: var(--blue-three);
          }
        }
      }
    }
  }

  .decoButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 40px;
    padding-inline: 10px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: var(--default-light);

    border-radius: 5px;
    margin-bottom: 60px;

    background: transparent;
    border: 0;
    svg {
      margin-right: 10px;
      fill: var(--default-light);
    }
  }
}
