.contentCard {
  background-color: #e5f1ff;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  .cardData {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;

    .category {
      font-weight: 600;
      color: var(--blue-three);
    }

    .date {
      color: var(--blue-six);
      font-size: 0.8rem;
    }
  }
  .detailsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;

    svg {
      fill: var(--blue-three);
      transition: 0.3s;
    }

    &:hover {
      svg {
        fill: var(--dark);
        transition: 0.3s;
      }
    }
  }

  .cardOptions {
    position: absolute;
    right: 1.5rem;
    top: 90px;

    z-index: 1000;

    ul {
      border-radius: 10px;
      box-shadow: 0 0px 30px rgba(5, 69, 153, 0.274);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      background: var(--default-light);

      li {
        cursor: pointer;
        padding: 0.8rem 1.5rem;

        &:hover {
          background: var(--blue-three);
          color: var(--default-light);
        }
      }
    }
  }
}
